[MESSAGES CONTROL]
disable= R,attribute-defined-outside-init,bad-continuation,bad-option-value,bare-except,invalid-name,locally-disabled,missing-docstring,redefined-builtin,ungrouped-imports,wrong-import-order,wrong-import-position,unnecessary-pass

[REPORTS]
reports=no
ignored-classes=ColorizedString

[FORMAT]
max-line-length=150
