[MESSAGES CONTROL]
disable= R,attribute-defined-outside-init,bad-continuation,bad-option-value,bare-except,invalid-name,locally-disabled,missing-docstring,redefined-builtin,ungrouped-imports,wrong-import-order,wrong-import-position,unnecessary-pass,import-outside-toplevel,consider-using-f-string,redundant-u-string-prefix,unspecified-encoding,unnecessary-lambda-assignment,use-implicit-booleaness-not-comparison,raise-missing-from,superfluous-parens

[REPORTS]
reports=no
# Ignoring 'StackedObject' due to bug in astroid/pylint: https://github.com/PyCQA/pylint/issues/3116
# Activatable seems like the same bug
ignored-classes=ColorizedString,StackedObject,Activatable,AbstractContextManager

[FORMAT]
max-line-length=150
